#calculator {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  background-color: #d8a7b1;
  margin-left: 37%;
  margin-top: 2.5%;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
  background-color:#fae8e0;
  border: 2px solid black;
  border-radius: 4px;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 45px;
  height: 40px;
  margin: 3px;
  background-color: #b6e2d3;
  border: 1px solid black;
  border-radius: 7px ;
}
#cal{
  margin-left: 42%;
  margin-top: 2.5%;
 color:black;
}